.App {
  text-align: center;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search_box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search_box label{
  font-weight: 600;
  font-size: large;
}